
span{
   background-color: pink;
   border: 1px solid black;
   width: 400px;
   padding: 40px;
   margin: 50px;
}

h1{
   background-color: turquoise;
   border: 1px solid black;
   width: 300px;
   padding: 30px;
   margin: 40px;
}

div{
   height: 200px;
   width: 200px;
   background-color: green;
   border: 5px solid red;
   display: inline-block;
margin: 20px;
}