h1 {
   background-color: tomato;
   border: 5px solid black;
   color: white;
   padding: 0.7em;
   width: 300px;
   font-size: 1.8em;
   text-align: center;
   margin: 20px auto;
   font-family: Courier New;
   font-weight: lighter;
}

h1:nth-of-type(2n) {
   background-color: darkred;
}

h1:nth-of-type(3n) {
   background-color: teal;
}

h1:nth-of-type(4n) {
   background-color: tan;
}

/****************** 1섹션 ****************/
section:first-of-type h1:nth-of-type(1) {
   transform-origin: bottom right;
   transform: rotate(90deg)
}

section:first-of-type h1:nth-of-type(2) {
   transform: scale(1, 2);
}

section:first-of-type h1:nth-of-type(3) {
   transform: translate(2em);
}

section:first-of-type h1:nth-of-type(4) {
   transform: translate(-4em);
}

/****************** 2섹션 *****************/
section:nth-of-type(2) h1:nth-of-type(1) {
   transform: skew(30deg);
}

section:nth-of-type(2) h1:nth-of-type(2) {
   transform: skew(10deg, 5deg);
}

section:nth-of-type(2) h1:nth-of-type(3) {
   transform: rotate(20deg) scale(1.2);
}

section:nth-of-type(2) h1:nth-of-type(4) {
   transform: translateX(-300px) rotate(180deg) scaleY(1.5);
}